html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(24, 28, 44);
    font-family: "Oswald", sans-serif;
    color: rgb(255, 255, 255);
    font-optical-sizing: auto;
    font-weight: 500;
    text-align: center;
    font-style: normal;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

main,
section {
    padding-top: 100px;
}

.header-container {
    text-shadow: 2px 2px 5px rgb(0, 0, 0);

    letter-spacing: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    font-size: 2.3rem;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(24, 28, 44, 0.7);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(240, 109, 89, 255);
    color: white;
}

.header-container .navbar a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    padding: 10px 20px;
}

.header-container .navbar a:hover {
    color: rgba(239, 107, 88, 255);
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s ease;
}

.burger {
    display: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.menu-toggle {
    display: none;
}

@media screen and (max-width: 1440px) {
    .header-container {
        font-size: 1.5rem;
        padding: 25px;
        letter-spacing: 3px;
    }

    .header-container .navbar a {
        padding: 10px 30px;
    }
}

@media screen and (max-width: 1024px) {
    .header-container {
        letter-spacing: 2px;
        font-size: 1.2rem;
        padding: 20px 20px;
    }

    .header-container .navbar a {
        padding: 10px 20px;
    }
}

@media screen and (max-width: 768px) {
    .header-container {
        letter-spacing: 2px;
        font-size: 1.2rem;
        padding: 20px 20px;
    }

    .header-container .navbar a {
        padding: 10px 15px;
    }
}

@media screen and (max-width: 425px) {
    .header-container {
        letter-spacing: 2px;
        font-size: 2rem;
        padding: 20px 20px;
    }

    .burger {
        display: block;
    }

    .navbar {
        display: none;
        flex-direction: column;
        background-color: rgba(24, 28, 44, 0.95);
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        padding: 20px;
        z-index: 9;
    }

    .menu-toggle:checked + .burger + .navbar {
        display: flex;
    }
}
