html {
    scroll-behavior: smooth;
}

body {
    font-family: "SUSE Mono", sans-serif;
    font-style: italic;
    font-optical-sizing: auto;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(10,15,34,1), rgba(10,15,34,1));
    color: whitesmoke;
}

section{
    height: 79vh;
    scroll-margin-top: 15vh;
}

main {
    padding-top: 15vh;
}

/* ---------------------------HEADER------------------------------------------*/
.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    border-bottom: 2px solid rgba(19, 23, 39, 0.95);
    background: linear-gradient(180deg, rgba(10,15,28,0.95), rgba(10,15,34,0.9));
    height: 80px;
    gap: 50px;
    z-index: 1001;
}

.header h1 {
    font-size: clamp(25px, 2.2vw, 42px);
    margin-left: 1.25em;
    padding-left: 1.25em;
}

.menu {
    display: none;
    justify-content: center;
    align-items: flex-start;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    list-style: none;
    text-wrap: nowrap;
    justify-content: space-between;
}

nav ul{
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 1.5em;
    justify-content: flex-start;
    list-style-type: none;
}

nav a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 1.25em;
    font-size: clamp(16px, 1.5vw, 27px);
    color: whitesmoke;
    text-transform: capitalize;
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3 ease;
}

nav a:hover {
    color: rgba(239, 107, 88, 1);
    text-shadow: 0 0 6px rgba(255, 204, 0, 0.3);
    transform: scale(1.1);
}

nav a::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 10px;
    height: 2px;
    background-color: rgba(255, 204, 0.5);
    width: 0%;
    transition: width 0.4s ease;
}

nav a:hover::after{
    width: 100%;
}

/* ---------------------------HOME------------------------------------------*/
#Home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

#Home .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex: 1;
}

#Home .banner {
    margin-top: auto;
    flex-shrink: 0;
}
.presentation {
    width: 50%;
    height: 50%;
}

.presentation h1, .presentation h2 {
    margin: 10px 0;
    font-weight: 900;
    position: relative;
    left: 10%;
}

.presentation h1 {
    font-size: clamp(40px, 5vw, 80px);;
}

.presentation h1::after{
    content: "";
    display: inline-block;
    width: 0.35em;
    height: 0.35em;
    border-radius: 50%;
    margin-left: 15px;
    background-color: rgba(239, 107, 88, 255);
    box-shadow: 
        0 0 20px rgba(239, 107, 88, 0.8),
        0 0 40px rgba(239, 107, 88, 0.6),
        0 0 60px rgba(239, 107, 88, 0.4),
        0 0 80px rgba(239, 107, 88, 0.2);
    filter: blur(2px);
}

.presentation h2{
    font-size: clamp(26px, 2.8vw, 52px);
}

.presentation h3 {
    font-weight: 700;
    margin: 10px 0;
    font-size: clamp(30px, 2.8vw, 60px);
    padding-right: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.3em;
    white-space: nowrap;
}

.presentation h3::before {
    content: "";
    display: inline-block;
    flex-grow: 1;
    height: 0.13em;
    margin-top: 4%;
    background-color: rgba(239, 107, 88, 255);
    box-shadow: 
        0 0 20px rgba(239, 107, 88, 0.8),
        0 0 40px rgba(239, 107, 88, 0.6),
        0 0 60px rgba(239, 107, 88, 0.4),
        0 0 80px rgba(239, 107, 88, 0.2);
    filter: blur(2px);
}

.presentation .button {
    margin-top: 6%;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.presentation .button button {
    font-size: clamp(20px, 2vw, 33px);
    background-color: transparent;
    color: whitesmoke;
    padding: 0.75em;
    box-shadow: 0 0 10px rgba(0,255,255,0.2);
    border: 1px solid rgba(0,255,255,0.2);
    transition: transform ease 0.3s, background-color ease 0.3s, box-shadow ease 0.3s;
}

.presentation .button button:first-child {
    background-color: rgba(239,107,88,1);
}

.presentation .button button:hover {
    transform: scale(1.1);
}

.presentation .button button:first-child:hover {
    background-color: transparent;
    box-shadow: 0 0 20px rgba(0,255,255,0.2);
}

#cv:hover {
    box-shadow: 0 0 20px rgba(239,107,88,0.5);
    border-color: rgba(239,107,88,0.5);
}

#cv-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity ease 0.3s;
    z-index: 1025;
}

#cv-overlay.active {
    opacity: 1;
    visibility: visible;
}

.cv-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.cv-container {
    position: relative;
    width: 90%;
    max-width: 75%;
    height: 90%;
    border-radius: 8px;
    overflow: hidden;
}

#Home .side-right {
    margin-top: auto;
    margin-right: 4%;
    padding: 0;
    width: 40vw;
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
    display: inline-block;
}

#Home .side-right::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 20px solid rgb(239, 107, 88);
    box-shadow: 
        0 0 30px rgba(239,107,88,1),
        0 0 80px rgba(239,107,88,0.8),
        0 0 150px rgba(239,107,88,0.6),
        0 0 200px rgba(239,107,88,0.4);
    background: radial-gradient(circle, rgba(239,107,88,0.4) 0%, rgba(0,0,0,0) 70%);
    filter: blur(7px);
    z-index: 0;
}

#Home .profil {
    position: absolute;
    bottom: 0;
    width: 135%;
    right: -20%;
    overflow: hidden;
    height: auto;
    z-index: 2;
}

.banner {
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    letter-spacing: 2px;
    font-style: normal;
    overflow: hidden;
    white-space: nowrap;
    border-top: 4px solid rgb(2,14,63);
    border-bottom: 4px solid rgb(2,14,63);
    height: 14%;
    display: flex;
    z-index: 1000;
    align-items: center;
    background: linear-gradient(90deg, rgba(6,9,22,0.9), rgba(10,15,34,0.9));
    box-shadow: 0px 0px 30px rgba(2, 14, 63, 0.5);
}

.banner-content {
    display: inline-flex;
    gap: 5em;
    animation: scroll 15s linear infinite;
}

.banner-content span {
    font-size: clamp(20px, 2vw, 35px);
    color: antiquewhite;
    text-shadow:
    0 0 5px rgba(0,255,255,0.5),
    0 0 10px rgba(0,255,255,0.3),
    0 0 15px rgba(0,255,255,0.2),
    0 0 25px rgba(200,255,255,0.2);
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.banner-content span:hover {
    transform: scale(1.1);
    text-shadow: 
        0 0 20px rgba(239,107,88,1),
        0 0 30px rgba(255,204,0,0.6);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-30%);
    }
}

/* ---------------------------media------------------------------------------*/
@media (min-width: 2560px) {
    .header {
        height: calc(80px *1.75);
    }
    .header h1 {
        font-size: calc(2.2vw * 1.33);
    }
    nav a{
        font-size: calc(1.5vw * 1.10);
        padding: 1.101em;
    }
    nav ul{
        gap: 0.1em;
    }
    #Home .content {
        padding-top: 10%;
    }
    .presentation {
        width: 70%;
        height: 100%;
    }
    .presentation h1 {
        font-size: calc(4vw * 1.33);
    }
    .presentation h2 {
        font-size: calc(2.8vw * 1.10);
    }
    .presentation h3 {
        font-size: calc(2.8vw * 1.33);
    }
    .presentation .button button {
        font-size: 2vw;
    }
    #Home .side-right {
        height: auto;
        width: 45%;
    }
    .banner {
        height: 4vw;
        width: 100%;
    }
    .banner-content span {
        font-size: calc(2vw * 1.15);
    }
}

@media (max-width: 1440px) {
    
}

@media (max-width: 1300px) {
    #Home {
        height: 70vh;
    }
}

@media (max-width: 1200px) {
    
}
@media (max-width: 1090px) {

    #Home .side-right {
        width: 50vw;
        margin-right: 1%;
    }
    #Home .side-right::before {
        width: 90%;
        height: 90%;
    }
}

@media (max-width: 992px) {
    main {
        padding-top: 10vh;
    }
}

@media (max-width: 900px) {
    #Home {
        height: 62vh;
    }
    .presentation h1 {
        font-size: 4vw;
    }
    .presentation h2 {
        font-size: 2.5vw;
    }
    .presentation h3 {
        font-size: 2vw;
        padding-right: 40%;
    }
    .presentation .button button {
        font-size: 2vw;
    }
}

@media (max-width: 768px) {
    .menu {
        display: block;
    }

    #menu-icon-id{
        font-size: 7vw;
        border-radius: 50%;
        color: whitesmoke;
        border: 2px solid transparent;
        transition: all 0.3s ease;
    }

    #menu-icon-id:hover{
        border-color: #ffcc0f;
        color: rgba(239, 107, 88, 255);
        transform: scale(1.1);
        text-shadow: 1px 1px 4px rgba(255, 204, 0, 0.5);
    }

    .nav-menu {
        flex-direction: column;
        position: fixed;
        top: 80.1px;
        left: 0;
        width: 75%;
        background-color: rgba(10, 15, 34, 0.95);
        padding: 10px 0;
        gap: 10px;
        border-bottom: 2px solid rgba(19, 23, 39, 0.95);
        border-right: 2px solid rgba(19, 23, 39, 0.95);
        z-index: 999;
        transform: translateX(-100%);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.4s ease, opacity 0.4s ease;
    }

    .nav-menu.active {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }

    .nav-menu li a {
        display: block;
        width: 100%;
        padding: 15px 10px;
        font-size: 2.8vw;
    }

    #Home .content {
        flex-direction: column;
        gap: 30px;
    }
    .presentation {
        height: 50%;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .presentation h1, .presentation h2 {
        left: 0%;
    }
    .presentation h1 {
        font-size: 5vw;
    }
    .presentation h2 {
        font-size: 3.5vw;
    }
    .presentation h3 {
        font-size: 3.5vw;
        position: relative;
        padding: 0;
    }
    .presentation h3::before {
        height: 5px;
        filter: blur(2px);
    }
    .presentation .button {
        width: 100%;
        margin-top: 2%;
    }

    .presentation .button button {
        display: inline-block;
        font-size: 2.8vw;
    }
    #Home .side-right {
        margin-right: 0;
        margin-top: 10px;
        height: 60%;
        width: 60%;
    }
    #Home .side-right::before {
        height: 100%;
        width: 100%;
    }
    .banner {
        height: 10%;
    }
}

@media (max-width: 600px) {

}

@media (max-width: 480px) {

}

@media (max-width: 360px) {
    #Home .content {
        gap: 50px;
    }
    .presentation h1 {
        font-size: 8vw;
    }
    .presentation h2 {
        font-size: 5vw;
    }
    .presentation h3 {
        font-size: 5vw;
    }
    .presentation .button button {
        font-size: 3.2vw;
    }
    #Home .side-right {
        height: 70%;
        width: 70%;
    }
}